/*************************
** TOP ***
*************************/
.topPage #header {
  position: fixed;
}
.topPage #gnav {
  border-bottom: 1px solid #fff;
}
.topPage #gnav > ul > li > a {
  color: #fff;
}
.topPage .h-lang ul li .current {
  border-bottom: 1px solid #fff;
}
.topPage .h-lang .icon-search .page-icon {
  stroke: #fff;
}
.topPage .h-lang .icon-search:hover .page-icon {
  stroke: #fff;
}
.topPage .h-lang li a {
  color: #fff;
}
.topPage .h-lang li a:hover {
  color: #fff;
}
.mainVisual {
  position: relative;
}
.mainVisual .mv-item {
  height: 100vh;
  transition: all 0.3s ease-out;
  position: relative;
}
.mainVisual .mv-item .mv-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
}
.mainVisual .mv-item .mv-img-01 {
  background: url('../imgs/top/mv-01.jpg') no-repeat top center;
  background-size: cover;
}
.mainVisual .mv-item .mv-img-02 {
  background: url('../imgs/top/mv-02.jpg') no-repeat top center;
  background-size: cover;
}
.mainVisual .mv-item .mv-img-03 {
  background: url('../imgs/top/mv-03.jpg') no-repeat top center;
  background-size: cover;
}
.mainVisual .mv-item .mv-img-04 {
  background: url('../imgs/top/mv-04.jpg') no-repeat top center;
  background-size: cover;
}
.mainVisual .mv-item .mv-img-05 {
  background: url('../imgs/top/mv-05.jpg') no-repeat top center;
  background-size: cover;
}
.mainVisual .mv-item .mv-img-06 {
  background: url('../imgs/top/mv-06.jpg') no-repeat top center;
  background-size: cover;
}
.mainVisual .mv-item .mv-img-07 {
  background: url('../imgs/top/mv-07.jpg') no-repeat top center;
  background-size: cover;
}
.mainVisual .mv-item .mv-info {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(calc(-50% + 50px));
  text-align: center;
  transition: all 0.5s ease-out;
  transition-delay: 0.5s;
  opacity: 0;
  z-index: 9;
}
.mainVisual .mv-item.active .mv-info {
  transform: translateY(-50%);
  opacity: 1;
}
.mainVisual .mv-item:last-child .mv-info {
  margin-top: 4%;
}
.mv-info .ttl {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.mv-info .txt {
  font-size: 36px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  margin: 0 0 30px;
}
.mv-info .mv-readmore {
  display: inline-block;
  position: relative;
}
.mv-info .mv-readmore .page-icon {
  font-size: 30px;
  width: 5rem;
  height: 5rem;
  fill: #fff;
}
.mv-info .mv-readmore .page-icon.ico-arrow {
  fill: #185DA6;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.mv-info .mv-slider {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 0 0 50px;
}
.mv-info .mv-slider .s-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}
.mv-info .mv-slider .s-wrap .it-img {
  width: 44%;
  border-radius: 15px;
  overflow: hidden;
}
.mv-info .mv-slider .s-wrap .it-info {
  width: 53%;
  text-align: left;
}
.mv-info .mv-slider .s-wrap .it-info .ttl-small {
  font-size: 16px;
  margin: 0 0 10px;
}
.mv-info .mv-slider .s-wrap .it-info .ttl-large {
  font-size: 28px;
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  margin: 0 0 30px;
}
.mv-info .mv-slider .s-wrap .it-info .it-list {
  margin: 0 0 30px;
}
.mv-info .mv-slider .s-wrap .it-info .it-list li {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px;
  position: relative;
  padding: 0 0 0 20px;
}
.mv-info .mv-slider .s-wrap .it-info .it-list li:before {
  background: #fff;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
}
.mv-info .mv-slider .s-wrap .it-info .it-list li span:first-child {
  font-weight: bold;
  width: 100px;
  margin-right: 5px;
}
.mv-info .mv-slider .s-wrap .it-info .it-list li span:last-child {
  flex: 1;
}
.mv-info .mv-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.mv-info .mv-slider .slick-arrow.prev-arrow {
  left: -60px;
  transform: translateY(-50%) rotate(180deg);
}
.mv-info .mv-slider .slick-arrow.next-arrow {
  right: -60px;
}
.mv-info .mv-slider .slick-arrow .page-icon {
  fill: #fff;
  width: 38px;
  height: 48px;
}
.mv-info .mv-slider .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.mv-info .mv-slider .slick-dots li {
  display: inline-block;
  padding: 0 10px;
}
.mv-info .mv-slider .slick-dots li button {
  color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: all 0.3s ease-out;
}
.mv-info .mv-slider .slick-dots li.slick-active button,
.mv-info .mv-slider .slick-dots li button:hover {
  color: #fff;
  border-color: #fff;
}
.mv-btn-next {
  cursor: pointer;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  z-index: 9;
}
.mv-btn-next .page-icon {
  fill: #fff;
}
.mv-nav {
  border-left: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  top: 200px;
  left: 30px;
  width: 50px;
  z-index: 10;
}
.mv-nav .item {
  color: #fff;
  position: relative;
  padding: 10px 0;
}
.mv-nav .item .num {
  font-size: 16px;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 11px 13px;
  transition: all 0.5s ease-out;
}
.mv-nav .item:hover .num,
.mv-nav .item.active .num {
  background: url('../imgs/top/bg_nav.png') no-repeat center center;
  background-size: 100% auto;
}
.mv-nav .item .txt {
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  opacity: 0;
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  transition: all 0.5s ease-out;
  width: 100px;
}
.mv-nav .item:hover .txt,
.mv-nav .item.active .txt {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/* form-contact */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #000;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #000;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #000;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    #000;
}
::placeholder { /* Most modern browsers support this now. */
 color:    #000;
}
.form-contact {
  width: 100%;
  max-width: 830px;
  margin: 0 auto 50px;
}
.form-contact .f-title {
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  margin: 0 0 30px;
  text-align: center;
}
.form-contact .f-wrap {
  background: #fff url('../imgs/common/bg-form.png') repeat center center;
  background-size: cover;
  border-radius: 15px;
  padding: 40px 50px;
}
.form-contact .f-wrap .f-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -14px;
}
.form-contact .f-wrap .f-content .f-row {
  width: 33.33%;
  padding: 0 14px;
  margin: 0 0 30px;
}
.form-contact .f-wrap .f-content .f-row.full {
  width: 100%;
  text-align: center;
}
.form-contact .f-wrap .f-content .f-row .f-label {
  color: #000;
  display: block;
  font-size: 16px;
  text-align: left;
  margin: 0 0 5px;
}
.form-contact .f-wrap .f-content .f-row.full .f-label {
  text-align: center;
}
.form-contact .f-wrap .f-content .f-row textarea,
.form-contact .f-wrap .f-content .f-row input {
  border-bottom: 1px solid #000;
  color: #000;
  width: 100%;
  text-align: left;
  resize: none;
  padding: 0 0 15px;
}
.form-contact .f-wrap .f-content .f-row textarea {
	height: 36px;
	text-align: center;
}
.form-contact .f-wrap .f-btn {
  text-align: center;
}

/* FOOTER */
#footer {
  background: #013D61 url('../imgs/common/bg-footer.jpg') no-repeat center top;
  background-size: cover;
  color: #fff;
  padding: 100px 0 0;
}
.footer-inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.footer-inner .footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -20px;
  padding: 30px 0;
  position: relative;
  z-index: 0;
}
.footer-inner .footer-wrap:before {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); 
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  left: 0;
  right: 0;
}
.footer-inner .footer-wrap:after {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); 
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 0;
  right: 0;
}
.footer-inner .footer-copyright {
  width: 100%;
  text-align: right;
  color: #fff;
  font-size: 12px;
  padding: 30px 0;
}
.footer-inner .footer-copyright a {
  color: #1677BE;
  transition: all 0.3s ease-out;
}
.footer-inner .footer-copyright a:hover {
  color: #185DA6;
}
.footer-inner .footer-wrap .footer-col {
  padding: 0 20px;
  text-align: left;
}
.footer-inner .footer-wrap .footer-col .ft-name {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 15px;
}
.footer-inner .footer-wrap .footer-col .ft-ttl {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 15px;
}
.footer-inner .footer-wrap .footer-col .ft-txt {
  font-size: 12px;
  line-height: 1.4;
  margin: 0 0 10px;
}
.footer-inner .footer-wrap .footer-col .qr-code {
  width: 100%;
  max-width: 110px;
}
.footer-inner .ft-social {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 0;
}
.footer-inner .ft-social li {
  margin: 0 10px 0 0;
}
.footer-inner .ft-social li .page-icon {
  fill: #fff;
}
.footer-inner .ft-link {
  margin: 30px 0 0;
}
.footer-inner .ft-link li {
  margin: 0 0 20px;
}
.footer-inner .ft-link li a {
  transition: all 0.3s ease-out;
}
.footer-inner .ft-link li a:hover {
  text-decoration: underline;
}

.mv-copyright {
  position: fixed;
  bottom: 30px;
  right: 0;
  left: 0;
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.copyright .c-txt {
  color: #fff;
  font-size: 12px;
  line-height: 1;
}
.copyright .c-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.copyright .c-social li {
  margin-left: 10px;
}
.copyright .c-social li .page-icon {
  fill: #fff;
  font-size: 16px;
  width: 16px;
  height: 16px;
}

/* sec-about-01 */
.klg-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.klg-list .item {
  width: 50%;
  padding: 0 20px;
  margin: 0 0 30px;
}
.klg-list .item .box {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 27px rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 15px;
}
.klg-list .item .box .it-img {
  width: 126px;
  margin-right: 25px;
}
.klg-list .item .box .it-cont {
  flex: 1;
}
.klg-list .item .box .it-cont .ttl {
  font-size: 18px;
  font-weight: 900;
  margin: 0 0 15px;
}
.klg-list .item .box .it-cont ul li {
  font-size: 18px;
  line-height: 1.8;
}
.klg-list .item .box .it-cont ul li .page-icon {
  width: 10px;
  height: 8px;
  margin: -2px 5px 0 0;
}
.box-about .about-img-05 {
  width: 960px;
  max-width: 100%;
  margin: -50px auto 80px;
}
.box-system {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -30px;
  position: relative;
  padding: 80px 0;
  z-index: 0;
}
.box-system:after {
  background: #F0F0F0 url('../imgs/common/bg-dots.png') repeat top left;
  content: "";
  position: absolute;
  z-index: -1;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.box-system .box-left {
  width: 52%;
  padding: 0 100px 0 30px;
}
.box-system .box-left .headline {
  text-align: left;
}
.box-system .box-right {
  width: 48%;
  padding: 0 30px;
}

.history-slider .item .it-wrap {
  position: relative;
  padding: 0 20px;
  text-align: center;
}
.history-slider .item .it-wrap .ic {
  width: 90px;
  height: 90px;
  margin: 0 auto 35px;
  position: relative;
}
.history-slider .item .it-wrap .ic:after {
  content: "";
  background: #9B9B9B;
  width: 5px;
  height: 35px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.history-slider .item .it-wrap .img-bg {
  margin: 0 0 30px;
}
.history-slider .item .it-wrap .img-bg .page-icon {
	width: 138%;
	height: 60px;
	transform: translateX(-50%);
	left: 50%;
	position: relative;
}
.history-slider .item .color-01 .img-bg .page-icon {
  fill: #1677BE;
}
.history-slider .item .color-02 .img-bg .page-icon {
  fill: #185DA6;
}
.history-slider .item .color-03 .img-bg .page-icon {
  fill: #004988;
}
.history-slider .item .it-wrap .time {
  border-bottom: 1px solid #D9D9D9;
  padding: 0 0 25px;
  margin: 0 0 30px;
}
.history-slider .item .it-wrap .time .month {
  color: #9b9b9b;
  font-size: 21px;
  line-height: 1.7;
}
.history-slider .item .it-wrap .time .year {
  color: #1677BE;
  font-size: 48px;
  font-weight: 1000;
  line-height: 1;
}
.history-slider .item .it-wrap .cont .ttl {
  color: #1677BE;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 1000;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.history-slider .item .it-wrap .cont .txt {
  font-size: 16px;
  line-height: 1.75;
}

.sec-about-04 {
  background: url('../imgs/gioi-thieu/bg-04.jpg') no-repeat center center;
  background-size: cover;
}
.about-img-11 {
  width: 600px;
  max-width: 100%;
  margin: 0 auto 80px;
}
.about-04-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.about-04-list .about-col {
  width: 20%;
  padding: 0 5px;
}
.about-04-list .about-col .col-wrap {
  border-radius: 10px;
  background: #fff;
  padding: 60px 15px;
  text-align: center;
  height: 100%;
}
.about-04-list .about-col .col-wrap .ic {
  width: 82px;
  margin: 0 auto 30px;
}
.about-04-list .about-col .col-wrap .ttl {
  color: #1677BE;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.about-04-list .about-col .col-wrap .txt {
  line-height: 1.7;
}
.about-04-list .about-col:first-child {
  align-self: center;
  width: 40%;
  padding: 0 30px 0 5px;
}
.about-04-list .about-col:first-child .ttl {
  color: #004988;
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 30px;
}
.about-04-list .about-col:first-child .txt {
  color: #fff;
  margin: 0 0 20px;
}

.about-05-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -17px;
}
.about-05-list .item {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 0 17px;
  margin: 0 0 35px;
}
.about-05-list .item .it-img {
  width: 34%;
}
.about-05-list .item .it-img img {
  height: 100% !important;
  object-fit: cover;
}
.about-05-list .item .it-cont {
  background: #fff;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
  flex: 1;
  padding: 20px 15px;
  transition: all 0.3s ease-out;
}
.about-05-list .item:hover .it-cont {
  background: #1677BE;
  color: #fff;
}
.about-05-list .item .it-cont .ttl {
  color: #1677BE;
  font-size: 24px;
  font-weight: 1000;
  line-height: 1;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.about-05-list .item:hover .it-cont .ttl {
  color: #fff;
}
.about-05-list .item .it-cont .txt {
  line-height: 1.7;
}

.sec-about-06 {
  background: #fff url('../imgs/common/bg-dots.png') repeat top left;
  overflow: hidden;
}
.about-06-picture {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -18px 80px;
}
.about-06-picture .picture-left {
  width: 41.1%;
  padding: 0 18px;
}
.about-06-picture .picture-right {
  width: 58.9%;
  padding: 0 18px;
}
.about-06-picture .picture-right .list-img {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13px 0;
}
.about-06-picture .picture-right .list-img .it-img {
  width: 50%;
  padding: 0 13px;
  margin: 0 0 12px;
}
.about-06-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}
.about-06-list .it-box {
  width: 33.33%;
  padding: 0 7px;
}
.about-06-list .it-box .box {
  position: relative;
}
.about-06-list .it-box .box .box-cont {
  background: rgba(1,61,97,0.8);
  color: #fff;
  padding: 20px 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 160px;
}
.about-06-list .it-box .box .box-cont .ttl {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.about-06-list .it-box .box .box-cont .txt {
  line-height: 1.75;
}

.structure-ttl {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 50px;
  text-align: center;
  text-transform: uppercase;
}
.structure-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}
.structure-list .item {
  width: 33.33%;
  padding: 0 15px;
  text-align: center;
}
.structure-list .item .it-img {
  margin: 0 0 30px;
}
.structure-list .item .it-name {
  color: #004988;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0 20px;
}
.structure-list .item .it-name .sex {
  font-weight: normal;
  text-transform: capitalize;
}
.structure-list .item .it-name .pos {
  display: block;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  margin: 5px 0 0;
  text-transform: none;
}
.structure-list .item .it-txt {
  line-height: 1.7;
  text-align: justify;
  padding: 0 20px;
}
.sec-about-08 {
  background: #F0F0F0;
}

.staff-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.staff-list .item {
  display: flex;
  flex-wrap: wrap;
  width: 33.33%;
  padding: 0 15px;
  margin: 0 0 50px;
}
.staff-list .item .it-img {
  width: 160px;
}
.staff-list .item .it-cont {
  flex: 1;
  padding-left: 10px;
}
.staff-list .item .it-cont .pos {
  color: #004988;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.staff-list .item .it-cont .txt {
  line-height: 1.75;
  text-align: justify;
}

.sec-about-10 {
  background: url('../imgs/common/bg-dots.png') repeat top left;
}
.certificate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0 -30px;
}
.certificate-list .item {
  width: 33.33%;
  padding: 0 30px;
  text-align: center;
}
.certificate-list .item .it-img {
  margin: 0 0 30px;
}
.certificate-list .item .it-txt {
  font-size: 18px;
  line-height: 1.4;
}

.sec-about-11 {
  background: #F0F0F0;
  position: relative;
  z-index: 0;
}
.sec-about-11:after {
  content: "";
  background: #1677BE url('../imgs/common/bg-dots.png') repeat top left;
  bottom: 0;
  height: 40%;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.box-ability {
  background: #fff url('../imgs/common/bg-dots-small.png') no-repeat center center;
  background-size: cover;
  border-radius: 22px;
  padding: 50px 80px 60px;
  margin: 0 0 50px;
}
.ability-slider .item {
  padding: 0 15px;
}
.ability-slider .slick-arrow .page-icon {
  width: 32px;
  height: 48px;
  transition: all 0.3s ease-out;
}
.ability-slider .next-arrow {
  right: -40px;
}
.ability-slider .prev-arrow {
  left: -40px;
}
.ability-slider .prev-arrow .page-icon {
  transform: rotate(-180deg);
}
.ability-slider .slick-arrow:hover .page-icon {
  fill: #000;
}
.ability-txt {
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  margin: 0 0 50px;
  text-align: center;
}
.ability-txt .f-bold {
  font-weight: 600;
}
.ability-btn {
  text-align: center;
}
.ability-btn .btn-download {
  color: #fff;
  font-size: 18px;
  width: 270px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #fff;
  text-align: center;
  padding: 20px 20px 15px;
  text-transform: uppercase;
  vertical-align: middle;
}
.ability-btn .btn-download .page-icon {
  display: inline-block;
  fill: #fff;
  vertical-align: middle;
  transform: translateY(-3px);
}