.main02 .sec-content {
    display: flex;
    flex-wrap: wrap;
}
.main02 .sec-content .sb-left {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 5px 30px 0 0;
}
.main02 .sec-content .content {
    flex: 0 0 75%;
    max-width: 75%;
}
.sec-content .content p {
    margin-bottom: 15px;
    line-height: 1.5;
}
.sec-content .content .title-content {
    font-size: 36px;
    font-weight: 600;
}

/* side-bar */
.sb-left .box-search  {
    position: relative;
}
.sb-left .box-search input[type="text"] {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 10px 15px 10px 35px;
    width: 100%;
}
.sb-left .box-search input::placeholder {
    font-size: 12px;
}
.sb-left .box-search button {
    background: url("../imgs/common/fi_search.png") no-repeat center center;
    background-size: cover;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.sb-left .ttl {
    color: #000;
    font-size: 14px;
    margin: 0 0 20px;
}
.sb-left .ttl01 {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 10px;
}
.box-search {
    margin: 0 0 30px;
}
.sb-left .news-latest ,
.sb-left .fueatued-post {
    border-bottom: 1px solid #333;
    padding: 0 0 40px;
    margin: 0 0 40px;
}
.sb-left .list-words span {
    display: inline-block;
}
.sb-left .list-words span a {
    background: #f4f4f4;
    display: block;
    font-size: 12px;
    margin: 0 5px 10px 0;
    padding: 10px 15px;
    transition: all 0.3s;
}
.sb-left .list-words span a:hover {
    color: #fff;
    background-color: #1677BE;
}
.sb-left .list-news .item-news  {
    margin: 0 0 10px;
}
.sb-left .list-news .item-news .text {
    padding: 0 0 0 10px;
}
.sb-left .list-news .item-news .text .ttl {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 0 5px;

}
.sb-left .list-news .item-news .text .time {
    font-size: 10px;
    padding: 0 0 0 15px;
    position: relative;
}
.sb-left .list-news .item-news .text .time::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../imgs/common/calendar.svg") no-repeat center center;
    background-size: cover;
    height: 13px;
    width: 13px;
}



/* ket qua tim kiem */
.box-kqtk  {
    margin: 0 0 10px;
}
.box-kqtk input {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 10px 15px;
    color: #000;
    font-size: 14px;
    width: 100%;
}
.box-kqtk form {
    position: relative;
    margin: 0 0 10px;
}
.box-kqtk form button {
    background: url("../imgs/common/fi_search.png") no-repeat center center;
    background-size: cover;
    height: 28px;
    width: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
.box-kqtk .result {
    font-size: 14px;
}
.tab-content .list-suggest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}
.tab-content .list-suggest li {
    width: 19%;
    text-align: center;
}
.tab-content .list-suggest li a {
    background: #1677BE;
    border: 1px solid #1677BE;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 15px 10px;
    transition: all 0.3s;
}
.tab-content .list-suggest li a:hover {
    background: #fff;
    color: #1677BE;
}

/* list-news */
.list-news .item-news {
    margin: 0 0 20px;
}
.list-news .box-news {
    font-size: 16px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.list-news .item-news .img {
    flex: 0 0 35%;
    max-width: 35%;
    margin: 0;
}
.list-news .item-news .text {
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 0 0 15px;
}
.list-news .item-news .text .link {
    color: #004988;
    font-weight: 600;
    font-size: 14px;
}
.list-news .item-news .text  .ttl {
    color: #004988;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.list-news .item-news .text .description {
    line-height: 1.5;
    margin-bottom: 10px;
}
.list-news .item-news .text .time {
    color: #b7b7b7;
    font-size: 12px;
}
.list-news .item-news .text .btn-rm {
    color: #1677BE;
    font-size: 12px;
    position: relative;
    padding: 0 0 0 37px;
}
.list-news .item-news .text .btn-rm::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 31px;
    height: 1px;
    background: #1677BE;
}
.list-news .item-news .text .btn-rm::after {
    content: "";
    position: absolute;
    right: -17px;
    top: 0;
    width: 15px;
    height: 15px;
    background: url("../imgs/common/right-circle.svg") no-repeat center center;
    background-size: cover;
}

/* single - page */
.clear-both {
    clear: both;
}
.single-page .title {
    color: #004988;
    font-size: 24px;
    font-weight: 600;
}
.single-page .headline {
    color: #004988;
    font-size: 24px;
    font-weight: 600;
}
.single-page .time {
    color: #b7b7b7;
    font-size: 12px;
}
.single-page  figure {
    margin: 20px 0;
}
.single-page  figure  img {
    width: 100%;
}
.single-page .table-title {
    background: #EAF5FE;
    float: left;
    max-width: 400px;
    padding: 20px;
    margin: 0 30px 30px 0;
}
.single-page .table-title .ttl {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 6px;
}
.single-page .table-title ol {
    color: #1677BE;
    font-size: 12px;
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}
.single-page .table-title ol.child {
    margin-top: 5px;
}
.single-page .table-title ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 5px;
} 
.single-page .table-title ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 5px;    
}
.single-page .table-title  li ol > li {
    margin-bottom: 5px;
}
.single-page .table-title  li ol > li:before {
    content: counters(item, ".") " ";
}
.single-page .table-title li a:hover {
    text-decoration: underline;
}

/* share-post */
.share-post {
    margin-top: 30px;
}
.share-post ul {
    display: flex;
    align-items: center;
    margin: 0 0 30px;
}
.share-post ul li {
    width: 20px;
    margin: 0 20px 0 0;
}
.sec-content .share-post p {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
/* relative-posts  */
.relative-posts {
    border-top: 1px solid #333;
    padding-top: 20px;
}
.relative-posts .title {
    color: #333;
    font-size: 18px;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.relative-posts ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.relative-posts ul li {
    flex: 0 0 32%;
    max-width: 32%;
}
.relative-posts ul .ttl {
    color: #004988;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    margin: 0 0 5px;
}
.relative-posts ul li .img {
    margin: 0 0 10px;
}
.relative-posts ul li .time {
    line-height: 1;
    padding-left: 23px;
    position: relative;
}
.relative-posts ul li .time::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    background: url("../imgs/common/calendar.svg") no-repeat center center;
    background-size: cover;
    height: 13px;
    width: 13px;
}

/* Qingdao SPRING */
.sec-content h2 {
    color: #1677BE;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 10px;
    text-align: center;
}
.sec-content .sub-title {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 20px;
    text-align: center;
}
.sec-content p {
    line-height: 1.6;
}
.sec-content .sec-introduction {
    margin: 50px 0 100px;
}
.sec-content .list-prize {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.sec-content .list-prize li {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: #fff;
    flex: 0 0 32%;
    max-width: 32%;
    text-align: center;
    padding: 50px 20px;
}
.sec-content .list-prize li span {
    color: #9b9b9b;
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.sec-content .list-prize li .num {
    color: #1677BE;
    font-size: 64px;
    font-weight: bold;
    margin: 0 0 10px;
}
.sec-content .list-prize li:first-child .num {
    font-weight: 400;
}
.sec-techcore {
    position: relative;
    background: url("../imgs/common/bg-dots.png") repeat center center;
    background-size: cover;
    padding: 150px 0;
}
.sec-techcore::before {
    content:"";
    background:#1677BE;
    position:absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    content:" ";
    z-index:-1;
}
.sec-techcore .block-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sec-techcore .tc-text {
    color: #fff;
    flex: 0 0 30%;
    max-width: 30%;
}
.sec-techcore .tc-text .ttl {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 5px;
}
.sec-techcore .tc-slider {
    flex: 0 0 65%;
    max-width: 65%;
}
.sec-techcore .tc-slider .item {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
    text-align: center;
    margin: 0 10px;
}
.sec-techcore .tc-slider .item .text {
    padding: 20px;
}
.sec-techcore .tc-slider .item .ttl {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px;
}

/* sec-project */
.sec-project {
    padding: 100px 0;
}
.sec-project .intro {
    max-width: 800px;
    margin: 0 auto 80px;
}
.sec-content .intro {
    text-align: center;
}
.sec-content .intro p {
    font-size: 18px;
    font-weight: 600;
}
.sec-project .list-project .item {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);
    display: flex;
    flex-wrap: wrap;
    padding: 50px 30px;
    margin: 10px 20px;
}
.sec-project .list-project .item .col-left {
    flex: 0 0 50%;
    max-width: 50%;
}
.sec-project .list-project .item .col-right {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0 0 20px;
}
.sec-project .list-project .item .ttl {
    color: #1677BE;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.15;
    margin: 0 0 20px;
}
.sec-project .list-project .item dl {
    display: flex;
    flex-wrap: wrap;
}
.sec-project .list-project .item dl dt {
    font-weight: 600;
    flex: 0 0 20%;
    max-width: 20%;
    margin: 0 0 20px;
    padding: 0 0 0 15px;
    position: relative;
}
.sec-project .list-project .item dl dt::before {
    content: "";
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 7px;
    width: 7px;
}
.sec-project .list-project .item dl dd {
    flex: 0 0 80%;
    max-width: 80%;
    margin: 0 0 20px;
}
.sec-project .prev-arrow {
    left: -35px;
    transform: translateY(-50%) rotate(180deg);
}
.sec-project .next-arrow {
    right: -35px;
}
.sec-project .page-icon {
    font-size: 40px;
}

/* sec-cooperate */
.sec-cooperate {
    padding: 100px 0;
}
.sec-content .sec-cooperate h2 {
    font-size: 52px;
}
.sec-cooperate .intro {
    margin: 0 auto 70px;
}
.sec-cooperate .list-cooperate {
    width: 85%;
    margin: 0 auto;
}
.sec-cooperate .slick-prev {
    background: url(../imgs/common/left-blue.svg) no-repeat center center;
    height: 82px;
    width: 20px;
}
.sec-cooperate .slick-next {
    background: url(../imgs/common/right-blue.svg) no-repeat center center;
    height: 82px;
    width: 20px;
}
.sec-cooperate .list-cooperate .item {
    margin: 0 10px;
}
.sec-cooperate .page-icon {
    font-size: 71px;
}
.sec-cooperate .prev-arrow {
    left: -70px;
}
.sec-cooperate .next-arrow {
    right: -70px;
    transform: translateY(-50%) rotate(180deg);
}

/* lien-he */
.contact-page {
    padding: 50px 0 90px;
}
.contact-page .sec-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 80px;
}
.contact-page .sec-info .col-left {
    flex: 0 0 60%;
    max-width: 60%;
}
.contact-page .sec-info .col-right {
    flex: 0 0 40%;
    max-width: 40%;
}
.contact-page .sec-info .col-left .ttl {
    color: #1677BE;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 10px;
}
.contact-page .sec-info .box-address {
    font-size: 18px;
    margin: 20px 0 0;
    position: relative;
}
.contact-page .sec-info .box-address p {
    margin: 0 0 15px;
}
.contact-page .sec-info .box-address span {
    color: #1677BE;
}
.contact-page .sec-info .box-address .img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100px;
}
.contact-page .sec-info .col-left .form .ttl {
    font-weight: 600;
    margin: 0 0 20px;
}
.contact-page .sec-info .form-contact {    
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: none;
    margin: 0;
}
.contact-page .sec-info .form-contact .f-wrap {
    background: none;
}
.contact-page .sec-info .col-right {
    padding: 0 0 0 50px;
}
.contact-page .sec-info .col-right figure {
    max-width: 480px;
}
.contact-page .sec-branch {
    border-top: 1px solid #b4b4b4;
    padding-top: 30px;
}
.contact-page .sec-branch > .ttl {
    color: #1677BE;
    font-size: 24px;
    text-align: center;
    margin: 0 0 20px;
}
.contact-page .block-branch {
    display: flex;
    flex-wrap: wrap;
}
.contact-page .block-branch .col-left {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px 0 0;
}
.contact-page .block-branch .col-left li {
    border-bottom: 1px solid #b4b4b4;
    padding: 15px 0;
}
.contact-page .block-branch .col-left li .ttl {
    color: #1677BE;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.contact-page .block-branch .col-left li .link {
    color: #1677BE;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
}
.contact-page .block-branch .col-right {
    flex: 0 0 50%;
    max-width: 50%;
}
.contact-page .block-branch .col-right .wrap-map {
    max-width: 590px;
    margin: 0 auto;
}

/* san pham chi tiet */
.main-detail {
    background: url("../imgs/common/bg-dots.png") repeat center center;
    background-size: cover;
    padding: 170px 0;
}
.main-detail .main-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main-detail .main-block .col-left {
    flex: 0 0 55%;
    max-width: 55%;
    padding: 0 50px 0 0;
}
.main-detail .main-block .col-right {
    flex: 0 0 45%;
    max-width: 45%;
}
.main-detail .main-block .ttl {
    color: #1677BE;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.main-detail .main-block .txt {
    margin: 0 0 50px;
}
.slide-main .item figure {
    text-align: center;
}
.slide-main .item img {
    margin: 0 auto;
}
.main-detail .btn-contact a {
    display: block;
    border: 1px solid #1677BE;
    border-radius: 5px;
    color: #1677BE;
    font-size: 18px;
    font-weight: 500;
    max-width: 230px;
    padding: 10px 35px;
    position: relative;
    text-transform: uppercase;
}
.main-detail .btn-contact a::after {
    content: "";
    width: 14px;
    height: 17px;
    background: url("../imgs/common/dupple-arrow-right.svg") no-repeat center center;
    background-size: cover;
    position: absolute;
    right: 14%;
}
.slide-main .slick-prev {
    left: 0;
}
.slide-main .slick-next {
    right: 0;
}
.slide-main .prev-arrow {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
}
.slide-main .next-arrow {
    right: 0;
}
.main-detail .slide-main .page-icon {
    font-size: 40px;
}

/* sec-product-detail */
.page-product .sec-chemistry {
    background: url("../imgs/common/bg-dots.png") repeat center center;
    background-size: cover;
}
.sec-product-detail {
    max-width: 1200px;
    margin: 0 auto;
}
.sec-product-detail .tabs-content-wrap {
    padding: 60px 0;
    position: absolute;
    transition: all 0.3s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.sec-product-detail .tabs-content-wrap.on {
    opacity: 1;
    position: relative;
    height: auto;
    transition: all 0.3s ease-out;
    z-index: 9;
}
.sec-product-detail .list-doc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec-product-detail .list-doc li {
    display: block;
    margin: 0 15px;
    text-align: center;
}
.sec-product-detail .list-doc li img {
    margin: 0 0 20px;
}
.sec-product-detail .list-doc li .ttl {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px;
}
.sec-product-detail .list-doc li .btn a {
    border: 1px solid #1677BE;
    border-radius: 5px;
    color: #1677BE;
    display: block;
    max-width: 135px;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    padding: 10px 30px;
    text-align: left;
}
.sec-product-detail .list-doc li .btn a::after {
    content: "";
    height: 15px;
    width: 13px;
    background: url("../imgs/common/dupple-arrow-right.svg") no-repeat center center;
    background-size: cover;
    position: absolute;
    right: 23%;
}
.sec-product-detail .list-overview li {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;
}
.sec-product-detail .list-overview li .text {
    flex: 0 0 60%;
    max-width: 60%;
}
.sec-product-detail .list-overview li .text .ttl {
    color: #002C8F;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 10px;
}
.sec-product-detail .list-overview li .text .txt {
    color: #7889AF;
}
.sec-product-detail .list-overview li .img {
    flex: 0 0 35%;
    max-width: 35%;
}
.sec-product-detail .list-overview li:nth-child(even) {
    flex-direction: row-reverse;
}
.wrap-comment {
    max-width: 850px;
    margin: 0 auto;
}
.wrap-comment .form-comment {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
.wrap-comment .form-comment textarea {
    padding: 10px 0;
    width: 100%;
}
.wrap-comment .form-comment .line-btn {
    border-top: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.wrap-comment .form-comment input[type="submit"] {
    border-radius: 5px;
    background: #1677BE;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px 5px;
    text-align: center;
    line-height: 1;
}
.wrap-comment .form-comment .line-btn .btn {
    color: #1677BE;
    font-size: 18px;
    position: relative;
    padding: 5px 0 0 30px;
}
.wrap-comment .form-comment .line-btn .btn::before {
    background: url("../imgs/common/camera.svg") no-repeat center center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}
.wrap-comment .count-comment {
    border-bottom: 1px solid #e6e6e6;
    padding: 25px 10px;
}
.wrap-comment .count-comment .num {
    margin-right: 5px;
}
.form-area {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99;
}
.form-area .form-info {
    max-width: 610px;
    margin: 10% auto;
    background:#fff;
    padding: 25px;
    position: relative;
}
.form-area .form-info .ttl {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 10px;
}
.form-area .form-info input:not([type="radio"]) {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 0 0 15px;
}
.form-area .form-info [type="radio"] {
    display: inline-block;
}
.form-area .form-info .sex {
    margin: 13px 0;
}
.form-area .form-info input::placeholder {
    color: #000;
}
.form-area .form-info input[type="submit"] {
    color: #fff;
    background: #1677BE;
    text-align: center;
    padding: 13px 10px 10px;
    margin-bottom: 0;
}
.form-area .form-info .close {
    position: absolute;
    top: 2px;
    right: 9px;
    font-size: 35px;
    line-height: 1;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 50px;
}
.sec-environment {
    text-align: center;
}
.sec-environment .block .headline ,
.sec-chemistry .block .headline ,
.sec-additives .block .headline {
    color: #1677BE;
    font-size: 36px;
    font-weight: 600;
}
.product-list .block .item-product {
    flex: 0 0 32%;
    max-width: 32%;
}
.btn-rm {
    max-width: 280px;
    margin: 0 auto;
}
.btn-rm a {
    border-radius: 5px;
    background: #1677BE;
    color: #fff;
    font-size: 18px;
    padding: 11px 100px 8px 85px;
    position: relative;
}
.btn-rm a::after {
    content: "";
    position: absolute;
    right: 25%;
    width: 15px;
    height: 15px;
    background: url("../imgs/common/dupple-arrow-right01.svg") no-repeat center center;
    background-size: cover;
}