.main02 .sec-content {
    display: flex;
    flex-wrap: wrap;
}
.main02 .sec-content .sb-left {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 5px 30px 0 0;
}
.main02 .sec-content .content {
    flex: 0 0 75%;
    max-width: 75%;
}
.sec-content .content p {
    margin-bottom: 15px;
    line-height: 1.5;
}
.sec-content .content .title-content {
    font-size: 36px;
    font-weight: 600;
}

/* side-bar */
.sb-left .box-search  {
    position: relative;
}
.sb-left .box-search input[type="text"] {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 10px 15px 10px 35px;
    width: 100%;
}
.sb-left .box-search input::placeholder {
    font-size: 12px;
}
.sb-left .box-search button {
    background: url("../imgs/common/fi_search.png") no-repeat center center;
    background-size: cover;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.sb-left .ttl {
    color: #000;
    font-size: 14px;
    margin: 0 0 20px;
}
.sb-left .ttl01 {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 10px;
}
.box-search {
    margin: 0 0 30px;
}
.sb-left .news-latest ,
.sb-left .fueatued-post {
    border-bottom: 1px solid #333;
    padding: 0 0 40px;
    margin: 0 0 40px;
}
.sb-left .list-words span {
    display: inline-block;
}
.sb-left .list-words span a {
    background: #f4f4f4;
    display: block;
    font-size: 12px;
    margin: 0 5px 10px 0;
    padding: 10px 15px;
    transition: all 0.3s;
}
.sb-left .list-words span a:hover {
    color: #fff;
    background-color: #1677BE;
}
.sb-left .list-news .item-news  {
    margin: 0 0 10px;
}
.sb-left .list-news .item-news .text {
    padding: 0 0 0 10px;
}
.sb-left .list-news .item-news .text .ttl {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 0 5px;

}
.sb-left .list-news .item-news .text .time {
    font-size: 10px;
    padding: 0 0 0 15px;
    position: relative;
}
.sb-left .list-news .item-news .text .time::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../imgs/common/calendar.svg") no-repeat center center;
    background-size: cover;
    height: 13px;
    width: 13px;
}



/* ket qua tim kiem */
.box-kqtk  {
    margin: 0 0 10px;
}
.box-kqtk input {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 10px 15px;
    color: #000;
    font-size: 14px;
    width: 100%;
}
.box-kqtk form {
    position: relative;
    margin: 0 0 10px;
}
.box-kqtk form button {
    background: url("../imgs/common/fi_search.png") no-repeat center center;
    background-size: cover;
    height: 28px;
    width: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
.box-kqtk .result {
    font-size: 14px;
}
.tab-content .list-suggest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}
.tab-content .list-suggest li {
    width: 19%;
    text-align: center;
}
.tab-content .list-suggest li a {
    background: #1677BE;
    border: 1px solid #1677BE;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 15px 10px;
    transition: all 0.3s;
}
.tab-content .list-suggest li a:hover {
    background: #fff;
    color: #1677BE;
}

/* list-news */
.list-news .item-news {
    margin: 0 0 20px;
}
.list-news .box-news {
    font-size: 16px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.list-news .item-news .img {
    flex: 0 0 35%;
    max-width: 35%;
    margin: 0;
}
.list-news .item-news .text {
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 0 0 15px;
}
.list-news .item-news .text .link {
    color: #004988;
    font-weight: 600;
    font-size: 14px;
}
.list-news .item-news .text  .ttl {
    color: #004988;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.list-news .item-news .text .description {
    line-height: 1.5;
    margin-bottom: 10px;
}
.list-news .item-news .text .time {
    color: #b7b7b7;
    font-size: 12px;
}
.list-news .item-news .text .btn-rm {
    color: #1677BE;
    font-size: 12px;
    position: relative;
    padding: 0 0 0 37px;
}
.list-news .item-news .text .btn-rm::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 31px;
    height: 1px;
    background: #1677BE;
}
.list-news .item-news .text .btn-rm::after {
    content: "";
    position: absolute;
    right: -17px;
    top: 0;
    width: 15px;
    height: 15px;
    background: url("../imgs/common/right-circle.svg") no-repeat center center;
    background-size: cover;
}

/* single - page */
.clear-both {
    clear: both;
}
.single-page .title {
    color: #004988;
    font-size: 24px;
    font-weight: 600;
}
.single-page .headline {
    color: #004988;
    font-size: 24px;
    font-weight: 600;
}
.single-page .time {
    color: #b7b7b7;
    font-size: 12px;
}
.single-page  figure {
    margin: 20px 0;
}
.single-page  figure  img {
    width: 100%;
}
.single-page .table-title {
    background: #EAF5FE;
    float: left;
    max-width: 400px;
    padding: 20px;
    margin: 0 30px 30px 0;
}
.single-page .table-title .ttl {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 6px;
}
.single-page .table-title ol {
    color: #1677BE;
    font-size: 12px;
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}
.single-page .table-title ol.child {
    margin-top: 5px;
}
.single-page .table-title ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 5px;
} 
.single-page .table-title ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 5px;    
}
.single-page .table-title  li ol > li {
    margin-bottom: 5px;
}
.single-page .table-title  li ol > li:before {
    content: counters(item, ".") " ";
}
.single-page .table-title li a:hover {
    text-decoration: underline;
}

/* share-post */
.share-post {
    margin-top: 30px;
}
.share-post ul {
    display: flex;
    align-items: center;
    margin: 0 0 30px;
}
.share-post ul li {
    width: 20px;
    margin: 0 20px 0 0;
}
.sec-content .share-post p {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
/* relative-posts  */
.relative-posts {
    border-top: 1px solid #333;
    padding-top: 20px;
}
.relative-posts .title {
    color: #333;
    font-size: 18px;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.relative-posts ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.relative-posts ul li {
    flex: 0 0 32%;
    max-width: 32%;
}
.relative-posts ul .ttl {
    color: #004988;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    margin: 0 0 5px;
}
.relative-posts ul li .img {
    margin: 0 0 10px;
}
.relative-posts ul li .time {
    line-height: 1;
    padding-left: 23px;
    position: relative;
}
.relative-posts ul li .time::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    background: url("../imgs/common/calendar.svg") no-repeat center center;
    background-size: cover;
    height: 13px;
    width: 13px;
}

/* Qingdao SPRING */
.sec-content h2 {
    color: #1677BE;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 10px;
    text-align: center;
}
.sec-content .sub-title {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 20px;
    text-align: center;
}
.sec-content p {
    line-height: 1.6;
}
.sec-content .sec-introduction {
    margin: 50px 0 100px;
}
.sec-content .list-prize {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.sec-content .list-prize li {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: #fff;
    flex: 0 0 32%;
    max-width: 32%;
    text-align: center;
    padding: 50px 20px;
}
.sec-content .list-prize li span {
    color: #9b9b9b;
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.sec-content .list-prize li .num {
    color: #1677BE;
    font-size: 64px;
    font-weight: bold;
    margin: 0 0 10px;
}
.sec-content .list-prize li:first-child .num {
    font-weight: 400;
}
.sec-techcore {
    position: relative;
    background: url("../imgs/common/bg-dots.png") repeat center center;
    background-size: cover;
    padding: 160px 0;
}
.sec-techcore::before {
    content:"";
    background:#1677BE;
    position:absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    content:" ";
    z-index:-1;
}
.sec-techcore .block-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sec-techcore .tc-text {
    color: #fff;
    flex: 0 0 30%;
    max-width: 30%;
}
.sec-techcore .tc-text .ttl {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 5px;
}
.sec-techcore .tc-slider {
    flex: 0 0 65%;
    max-width: 65%;
}
.sec-techcore .tc-slider .item {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
    text-align: center;
    margin: 0 10px;
}
.sec-techcore .tc-slider .item .text {
    padding: 20px;
}
.sec-techcore .tc-slider .item .ttl {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px;
}

/* sec-project */
.sec-project {
    padding: 100px 0;
}
.sec-project .intro {
    max-width: 800px;
    margin: 0 auto 80px;
}
.sec-content .intro {
    text-align: center;
}
.sec-content .intro p {
    font-size: 18px;
    font-weight: 600;
}
.sec-project .list-project .item {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);
    display: flex;
    flex-wrap: wrap;
    padding: 50px 30px;
    margin: 10px 20px;
}
.sec-project .list-project .item .col-left {
    flex: 0 0 50%;
    max-width: 50%;
}
.sec-project .list-project .item .col-right {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0 0 20px;
}
.sec-project .list-project .item .ttl {
    color: #1677BE;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.15;
    margin: 0 0 20px;
}
.sec-project .list-project .item dl {
    display: flex;
    flex-wrap: wrap;
}
.sec-project .list-project .item dl dt {
    font-weight: 600;
    flex: 0 0 20%;
    max-width: 20%;
    margin: 0 0 20px;
    padding: 0 0 0 15px;
    position: relative;
}
.sec-project .list-project .item dl dt::before {
    content: "";
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 7px;
    width: 7px;
}
.sec-project .list-project .item dl dd {
    flex: 0 0 80%;
    max-width: 80%;
    margin: 0 0 20px;
}

/* sec-cooperate */
.sec-cooperate {
    padding: 100px 0;
}
.sec-content .sec-cooperate h2 {
    font-size: 52px;
}
.sec-cooperate .intro {
    margin: 0 auto 70px;
}
.sec-cooperate .list-cooperate {
    width: 88%;
    margin: 0 auto;
}
.sec-cooperate .slick-prev {
    background: url(../imgs/common/left-blue.svg) no-repeat center center;
    height: 82px;
    width: 20px;
}
.sec-cooperate .slick-next {
    background: url(../imgs/common/right-blue.svg) no-repeat center center;
    height: 82px;
    width: 20px;
}
.sec-cooperate .list-cooperate .item {
    margin: 0 10px;
}