@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .sp-only { display: block; line-height: 0; }
  .pc-only { display: none; }
}

/*-------------------
  animation
--------------------*/
@media only screen and (min-width: 768px) {
  .js-fadeup {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    -ms-transition: all 1.5s cubic-bezier(0.165, 0.80, 0.45, 1) 0s;
    -webkit-transition: all 1.5s cubic-bezier(0.165, 0.80, 0.45, 1) 0s;
    transition: all 1.5s cubic-bezier(0.165, 0.80, 0.45, 1) 0s;
  }

  .js-fadeup.is-fadeup {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.icon {
  width: 1em;
  height: 1em;
  font-size: 20px;
  transition: all 0.5s ease-out;
}
img {
  max-width: 100%;
  height: auto !important;
}
.inner01 {
    width: 100%;
    max-width: 1366px;
    padding: 0 15px;
    margin: 0 auto;
}
.inner02 {
    width: 100%;
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-btn {
  border-radius: 7px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 20px;
  text-align: center;
  transition: all 0.5s ease-out;
  width: 100%;
}
.page-btn .icon {
  vertical-align: middle;
  margin-right: 10px;
}
.btn-register {
  background: #f4b802;
  color: #523b00;
}
.btn-register .icon {
  fill: #523b00;
}
.btn-download {
  background: #0180f3;
  color: #ffffff;
}
.btn-download .icon {
  fill: #ffffff;
}
.btn-register:hover {
  background: #ffffff;
  color: #f4b802;
}
.btn-download:hover {
  background: #ffffff;
  color: #0180f3;
}
.btn-register:hover .icon {
  fill: #f4b802;
}
.btn-download:hover .icon {
  fill: #0180f3;
}

.backtop {
  border-radius: 50%;
  background: #132333;
  color: #ffffff;
  cursor: pointer;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  transition: all 0.5s ease-out;
  text-align: center;
}
.backtop:hover {
  opacity: 0.7;
}
.backtop .icon {
  color: #ffffff;
  fill: #ffffff;
  font-size: 18px;
}
@media only screen and (max-width: 1024px) {
  .backtop {
    bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .backtop {
    width: 36px;
    height: 36px;
    line-height: 42px;
  }
}

/* header setting */
#header {
  background: #0180f3;
  border-bottom: 2px solid #ffffff;
}
.h-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.h-logo {
  width: 250px;
  padding-right: 30px;
}
.h-logo img {
  max-width: 150px;
}
.h-navi {
  flex: auto;
}
.h-navi .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.h-navi .nav li {
  padding: 0 0 0 40px;
}
.h-navi .nav li a {
  color: #ffffff;
  display: block;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.01em;
  position: relative;
  transition: all 0.3s ease-out;
}
.h-navi .nav li.active a,
.h-navi .nav li a:hover {
  color: #f4b802;
}
.h-utili {
  width: 250px;
  padding-left: 30px;
  text-align: right;
}
.h-utili .it {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.h-utili .it:hover .icon {
  color: #333333;
}
.btn-menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .h-navi .nav li {
    padding: 0 0 0 30px;
  }
}
@media only screen and (max-width: 1000px) {
  .btn-menu {
    display: block;
    cursor: pointer;
    transition: all 0.5s ease-out;
    position: absolute;
    top: 20px;
    left: -40px;
  }
  .btn-menu .icon {
    fill: #ffffff;
    font-size: 30px;
    display: none;
  }
  .btn-menu .icon.on {
    display: block;
  }
  .btn-menu.active .icon {
    fill: #f4b802;
  }
  .h-wrap {
    padding: 15px 0;
  }
  .h-navi {
    background: #015fb6;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    bottom: 0;
    z-index: 99;
    padding: 15px;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
  }
  .h-navi.on {
    transform: translateX(0);
  }
  .h-navi .nav li {
    padding: 0;
    margin: 0 0 10px;
    width: 100%;
  }
}

/* Footer setting */
#footer {
  background: #015fb6;
  color: #ffffff;
  padding: 50px 0;
}
.ft-logo {
  width: 250px;
  margin: 0 auto 50px;
}
.ft-links {
  margin: 0 0 50px;
}
.ft-links ul {
  display: flex;
  justify-content: center;
}
.ft-links ul li {
  padding: 0 7px;
  border-right: 2px solid #ffffff;
}
.ft-links ul li:last-child {
  border: none;
}
.ft-links ul li a {
  font-weight: bold;
  font-size: 14px;
  transition: all 0.5s ease-out;
}
.ft-links ul li a:hover {
  opacity: 0.7;
}
.ft-cont .txt {
  margin: 0 0 30px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  #footer {
    padding: 20px 0;
  }
  .ft-logo {
    width: 180px;
    margin: 0 auto 30px;
  }
  .ft-links {
    margin: 0 0 30px;
  }
  .ft-links ul {
    flex-wrap: wrap;
  }
  .ft-links ul li {
    margin: 0 0 10px;
  }
}

/* style setting */
.section {
  padding: 50px 0;
}

.mainVisual {
  position: relative;
  overflow: hidden;
}
.mv-img img {
  width: 100%;
}
.mv-form {
  background: rgba(95,5,17,0.8);
  color: #ffffff;
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  border-radius: 10px;
  border: 2px solid #ffe41a;
  padding: 20px 30px;
  width: 450px;
}
.mv-form .f-ttl {
  font-weight: 800;
  font-size: 23px;
  font-style: italic;
  text-align: center;
}
.mv-form .f-txt {
  color: #ffe41a;
  font-weight: 800;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  margin: 0 0 20px;
}
.mv-form .f-row {
  margin: 0 0 20px;
}
.mv-form .f-row .f-input {
  background: #ffffff;
  color: #333333;
  border-radius: 7px;
  padding: 10px 10px;
  width: 100%;
}
.mv-form .page-btn {
  font-size: 22px;
}
.mv-form .btn-register {
  margin: 0 0 20px;
}
.mv-form .btn-download .icon {
  font-size: 22px;
}
@media only screen and (max-width: 1024px) {
  .mv-form {
    right: 15px;
  }
  .mv-form .f-ttl {
    font-size: 18px;
  }
  .mv-form .f-txt {
    font-size: 19px;
  }
  .mv-form .page-btn {
    font-size: 16px;
  }
  .mv-form .btn-download .icon {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1000px) {
  .mv-form {
    position: static;
    margin: 30px auto;
    max-width: 93%;
    transform: translate(0, 0);
  }
}

.sec_step {
  background: #000000;
  border-top: 2px solid #f0b500;
  padding: 50px 0;
}
.sec_step .steps {
  display: flex;
  flex-wrap: wrap;
}
.sec_step .steps .item {
  width: 25%;
}
.sec_step .steps .item a {
  transition: all 0.5s ease-out;
}
.sec_step .steps .item a:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 767px) {
  .sec_step {
    padding: 20px 0;
  }
  .sec_step .steps .item {
    width: 50%;
    margin: 0 0 15px;
  }
}

.sec_button {
  background: url('../imgs/bg01.png') no-repeat center center;
  background-size: cover;
  padding: 50px 0;
}
.sec_button .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sec_button .buttons .item {
  width: 290px;
  padding: 0 20px;
}
@media only screen and (max-width: 767px) {
  .sec_button .buttons .item {
    margin: 0 0 20px;
  }
}

.sec_contact {
  background: #5f0511;
  color: #ffffff;
}
.sec_contact .ct-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.sec_contact .ct-hotline {
  font-size: 18px;
  font-weight: bold;
  width: 40%;
}
.sec_contact .ct-hotline .icon {
  margin-right: 10px;
  fill: #ffffff;
  font-size: 22px;
  vertical-align: top;
}
.sec_contact .ct-btn {
  margin-top: -12px;
  align-self: flex-end;
  width: 20%;
  text-align: center;
}
.sec_contact .ct-intro {
  width: 40%;
}
.sec_contact .ct-intro ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.sec_contact .ct-intro ul li {
  padding-left: 30px;
  margin-top: -5px;
}
@media only screen and (max-width: 1024px) {
  .sec_contact .ct-intro ul li {
    padding-left: 10px;
    width: 80px;
  }
}
@media only screen and (max-width: 1000px) {
  .sec_contact .ct-btn {
    order: 1;
    width: 100%;
    margin: -12px 0 30px;
  }
  .sec_contact .ct-hotline {
    order: 2;
    width: auto;
  }
  .sec_contact .ct-intro {
    order: 3;
    width: auto;
  }
  .sec_contact .ct-intro ul li {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .sec_contact .ct-hotline {
    width: 100%;
    text-align: center;
    margin: 0 0 30px;
  }
  .sec_contact .ct-intro {
    width: 100%;
  }
  .sec_contact .ct-intro ul {
    justify-content: center;
  }
  .sec_contact .ct-intro ul li {
    padding: 0 5px;
  }
}