@use "_variables" as *;
@use "_theme-vars" as *;

.page_about {
    .single_block {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10%;
        grid-template-columns: 42% 48%;
        @include hd {
            grid-gap: 30px;
            grid-template-columns: 50% 50%;
            padding-right: 30px;
        }
        @include smp {
            padding-right: 0;
            display: flex;
            flex-direction: column-reverse;
            gap: 30px 0;
        }
    }
    .count_list {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 50px;
        padding: 150px 0;
        text-align: center;
        @include tab {
            grid-gap: 30px;
            padding: 100px 0 30px;
        }
        @include smp {
            grid-gap: 60px 30px;
            padding: 60px 0 30px;
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: unset;
        }
        .item {
            position: relative;
            z-index: 0;
            .ttl {
                text-transform: uppercase;
                color: $wp-color-black-1;
                font-size: 20px;
                font-weight: 500;
                position: relative;
                z-index: 1;
                @include tab {
                    font-size: 14px;
                }
                &:before {
                    content: "";
                    height: 2px;
                    width: 100%;
                    background: rgba(0,0,0,0.1);
                    position: absolute;
                    bottom: 24%;
                    left: 0;
                }
            }
            .number {
                font-size: 120px;
                color: $text-color-5;
                line-height: 1;
                bottom: -70%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                @include tab {
                    font-size: 12vw;
                }
                @include smp {
                    font-size: 20vw;
                }
            }
        }        
    }
}

.block_vision {
    padding: 50px 0;
    position: relative;
    z-index: 0;
    @include smp {
        padding: 0;
    }
    .item {
        padding: 50px 0;
        @include tab {
            padding: 30px 0;
        }
        @include smp {
            padding: 30px 0 0;
        }
        .ttl {
            font-size: 49px;
            line-height: 1.2;
            margin: 0 0 15px;
            @include tab {
                font-size: 36px;
                margin: 0 0 7px;
            }
            @include smp {
                font-size: 26px;
            }
        }
        .txt {
            color: $text-color-4;
            font-size: 16px;
            line-height: 1.7;
            @include tab {
                font-size: 14px;
            }
            @include smp {
                font-size: 12px;
            }
        }
    }
    .image {
        width: 70%;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        position: absolute;
        z-index: -1;
        @include smp {
            width: 100%;
            top: auto;
            transform: translateY(0);
            bottom: 0;
        }
    }
}