@use "_theme-vars" as *;
@use "_variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:active,
*:focus {
    outline: none;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background: #fff;
    font-size: 62.5%;
}
body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: $font-stack;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear;
    z-index: 0;
    color: $wp-color-black-1;
    font-size: 16px;
    line-height: 1.6;
}
.loaded {
    opacity: 1;
    visibility: visible;
}

.playfair {
    font-family: $font-heading;
}
.inner {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
a {
    color: #000;
    text-decoration: none;
    transition: $transition-all;
}
a:hover {opacity: 0.7;}
.full {width: 100%;}
.pos_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.hidden {display: none;}
.bg_gray { background: $fifth-color; }
.bg_red { 
	background: $wp-color-contrast;
	color: $wp-color-base;
}
.ac { text-align: center; }
.fadeup {
	opacity: 0;
	transform: translateY(20px);
	transition-duration: 1s;
}
.fadeup.on {
	opacity: 1;
	transform: translateY(0);
}

#contents {
	overflow-x: hidden;
}

#site_header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 30px 15px 0;
	z-index: 100;
	@include pc {
		position: fixed;
		padding: 0;
	}
	.inner {
		max-width: 1800px;
		@include pc {
			padding: 0;
		}
	}
	.hdr {
		border-radius: 50px;
		background: rgba(149,149,149,0.3);
		box-shadow: 5px 5px 100px rgba(0,0,0,0.5);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px 0 60px;
		@include laptop {
			padding: 0 15px 0 25px;
		}
		@include pc {
			border-radius: 0;
			background: $text-color-7;
			padding: 15px 75px 15px 15px;
			box-shadow: none;
		}
		@include smp {
			padding: 10px 50px 10px 10px;
		}
		.hdr_navi {
			margin-left: auto;
			margin-right: 2.5%;
			@include pc {
				background: $wp-color-black-3;
				position: fixed;
				top: 79px;
				right: 0;
				width: 100vw;
				max-width: 380px;
				z-index: 9999;
				bottom: 0;
				overflow: auto;
				margin: 0;
				transform: translateX(101%);
				transition: $transition-all;
				opacity: 0;
				visibility: hidden;
			}
			@include tab {
				top: 69px;
			}
			@include smp {
				top: 54px;
			}
		}
	}
	.hdr_logo {
		width: 136px;
		@include laptop {
			width: 100px;
		}
		@include smp {
			width: 76px;
		}
	}
	.navi {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -5px;
		@include pc {
			display: block;
			margin: 0;
		}
		.item {
			position: relative;
			@include pc {
				width: 100%;
				border-bottom: 1px solid $border-color-10;
			}
			&:hover {
				.sub_menu {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
				.link {
					color: #dddddd;
					opacity: 1;
				}
			}
		}
		.link {
			font-size: 15px;
			color: $wp-color-base;
			display: block;
			position: relative;
			text-transform: uppercase;
			transition: $transition-all;
			padding: 28px 15px;
			@include laptop {
				font-size: 14px;
				padding: 28px 7px;
				letter-spacing: -0.02em;
			}
			@include pc {
				padding: 10px 15px;
			}
			@include smp {
				font-size: 13px;
			}
		}
		.current {
			.link {
				color: #dddddd;
			}
		}
		.sub_btn {
			display: none;
			@include pc {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				height: 42px;
				width: 40px;
			}
			&:after {
				content: "";
				border-right: 1px solid $wp-color-base;
				border-bottom: 1px solid $wp-color-base;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%) rotate(45deg);
				width: 10px;
				height: 10px;
				margin-top: -3px;
			}
		}
		.sub_menu {
			position: absolute;
			width: 260px;
			opacity: 0;
			visibility: hidden;
			background: $wp-color-base;
			transition: $transition-all;
			transform: translateY(10px);
			@include pc {
				background: $border-color-10;
				position: static;
				opacity: 1;
				visibility: visible;
				display: none;
				transform: translateY(0);
				width: 100%;
				padding-left: 15px;
			}
			.sub_item {
				position: relative;
				z-index: 0;
				&:before {
					content: "";
					background: $wp-color-contrast;
					width: 0;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					transition: $transition-all;
				}
				&:hover {
					&:before {
						width: 5px;
					}
				}
			}
			.sub_link {
				color: $text-color-1;
				display: block;
				font-size: 14px;
				line-height: 2;
				transition: $transition-all;
				padding: 7px 15px;
				@include pc {
					color: $wp-color-base;
				}
				@include smp {
					font-size: 12px;
				}
				&:hover {
					background: #EEEEEE;
					opacity: 1;
				}
			}
		}
	}
	.hdr_cont {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.ct_hotline {
			.tels {
				color: $wp-color-base;
				font-size: 13px;
				line-height: 1.6;
				display: block;
				position: relative;
				padding-left: 52px;
				transition: $transition-all;
				@include laptop {
					font-size: 11px;
					padding-left: 35px;
				}
				@include smp {
					font-size: 12px;
					padding-left: 30px;
				}
				.icon_call {
					background: #fff;
					color: $wp-color-gray-1;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					width: 42px;
					height: 42px;
					border-radius: 50%;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					@include laptop {
						width: 30px;
						height: 30px;
					}
					@include smp {
						width: 26px;
						height: 26px;
					}
				}
				.number {
					font-size: 123%;
					@include smp {
						display: none;
					}
				}
				.txt {
					@include smp {
						display: none;
					}
				}
			}
		}
		.ct_search {
			position: relative;
			padding-left: 60px;
			margin-left: 50px;
			border-left: 1px solid #fff;
			@include laptop {
				padding-left: 45px;
				margin-left: 20px;
			}
			@include tab {
				padding-left: 40px;
				margin-left: 5px;
			}
			@include smp {
				padding-left: 35px;
				margin: 0;
				border: none;
			}
			.icon_search {
				font-size: 20px;
				color: $wp-color-base;
				cursor: pointer;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				width: 32px;
				height: 32px;
				top: 50%;
				left: 15px;
				transform: translateY(-50%);
				transition: $transition-all;
				@include laptop {
					font-size: 18px;
					left: 6px;
				}
				@include smp {
					font-size: 16px;
					left: 0px;
				}
				&:hover {
					opacity: 0.7;
				}
				.hidden {
					display: none;
				}
			}
			.box {
				position: relative;
				width: 160px;
				z-index: 0;
				@include tab {
					width: 110px;
				}
				@include smp {
					width: 94px;
				}
				.b_contact {
					.page_btn {
						width: 100%;
						font-size: 12px;
						padding: 15px 10px;
						@include tab {
							font-size: 10px;
							padding: 10px 5px;
						}
						@include smp {
							font-size: 9px;
						}
					}
				}
				.b_search {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					transition: $transition-all;
					opacity: 0;
					visibility: hidden;
					.inp_search {
						border-radius: 48px;
						background: #fff;
						border: none;
						font-size: 12px;
						padding: 5px 35px 5px 15px;
						height: 100%;
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
					.inp_submit {
						border: none;
						background: none;
						color: $wp-color-black-1;
						cursor: pointer;
						display: flex;
						font-size: 14px;
						align-items: center;
						justify-content: center;
						width: 30px;
						height: 100%;
						position: absolute;
						z-index: 10;
						right: 0;
						top: 0;
						transition: $transition-all;
						&:hover {
							opacity: 0.7;
						}
					}
				}
				.b_search.show {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.hdr_btnMenu {
		display: none;
		@include pc {
			cursor: pointer;
			display: flex;
			align-items: center;
			position: absolute;
			width: 40px;
			height: 20px;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			&:before {
				content: "";
				background: $wp-color-base;
				position: absolute;
				height: 1px;
				top: 0;
				width: 100%;
				left: 0;
			}
			&:after {
				content: "";
				background: $wp-color-base;
				position: absolute;
				height: 1px;
				bottom: 0;
				width: 100%;
				left: 0;
			}
			.line {
				background: $wp-color-base;
				display: block;
				width: 100%;
				height: 1px;
			}
		}
		@include smp {
			width: 30px;
			right: 10px;
		}
	}
}
.menu_opened {
	#site_header {
		.hdr_btnMenu {
			transform: translateY(-50%) rotate(45deg);
			&:before {
				top: 50%;
				transform: rotate(90deg);
			}
			&:after {
				display: none;
			}
		}
		.hdr_navi {
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
		}
	}
}

#site_footer {
	background: $wp-color-contrast;
	color: $wp-color-base;
	.inner {
		max-width: 1510px;
	}
	.ft_bot {
		padding: 10px 0;
		background: $wp-color-black-1;
		.inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			@include smp {
				flex-direction: column-reverse;
			}
		}
		.cpr {
			color: #B8BFC5;
			@include hd {
				font-size: 12px;
			}
		}
	}
	.social_list {
		display: flex;
		flex-wrap: wrap;
		.item {
			.sc_link {
				color: $wp-color-base;
				font-size: 16px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				transition: $transition-all;
				&:hover {
					color: #B8BFC5;
				}
			}
		}
	}
	.ft_top {
		padding: 80px 0 0;
		@include smp {
			padding: 60px 0 0;
		}
	}
	.ft_content {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 30px;
		justify-content: space-between;
		@include tab {
			grid-template-columns: auto auto auto;
		}
		@include smp {
			display: block;
		}
		.ft_logo {
			width: 100%;
			max-width: 160px;
			@include hd {
				max-width: 110px;
			}
			@include tab {
				max-width: 160px;
				grid-area: span 2;
				align-content: center;
			}
			@include smp {
				max-width: 90px;
				margin: 0 auto 30px;
			}
		}
		.ft_block {
			@include smp {
				margin: 0 0 30px;
			}
			.ttl {
				font-size: 36px;
				line-height: 1.4;
				margin: 0 0 15px;
				@include hd {
					font-size: 26px;
				}
				@include smp {
					font-size: 22px;
					margin: 0 0 5px;
				}
			}
			.links {
				.item {
					a {
						color: $wp-color-base;
						line-height: 2;
						@include hd {
							font-size: 14px;
							line-height: 1.4;
						}
					}
				}
			}
		}
		.ft_frm {
			position: relative;
			@include tab {
				width: 100%;
				max-width: 360px;
			}
			.inp_txt {
				border-radius: 5px;
				border: 1px solid rgba(241,238,246,0.5);
				background: #fff;
				padding: 10px 40px 10px 10px;
				width: 100%;
			}
			.btn_submit {
				background: none;
				border: none;
				color: $wp-color-contrast;
				cursor: pointer;
				padding: 10px;
				width: 40px;
				height: 100%;
				right: 0;
				top: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				z-index: 1;
				transition: $transition-all;
				&:hover {
					opacity: 0.7;
				}
			}
		}
		.block_inquiry {
			width: 350px;
			@include tab {
				grid-column: span 2;
			}
			@include smp {
				width: 280px;
				text-align: center;
				margin: 0 auto;
			}
		}
	}	
	.ft_info {
		border-top: 1px solid #C86767;
		padding: 15px 0;
		margin-top: 80px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		@include smp {
			margin-top: 40px;
			display: block;
		}
		.item {
			font-size: 18px;
			position: relative;
			padding-left: 20px;
			margin-left: 3%;
			@include hd {
				font-size: 16px;
			}
			@include tab {
				font-size: 12px;
				line-height: 1.2;
			}
			@include smp {
				font-size: 11px;
				padding-left: 10px;
				margin-left: 0;
			}
			&:nth-child(1) {
				margin-right: auto;
				margin-left: 0;
			}
			&:before {
				content: "";
				width: 10px;
				height: 10px;
				background: $wp-color-base;
				border-radius: 50%;
				position: absolute;
				top: 8px;
				left: 0;
				line-height: 1.4;
				@include tab {
					top: 2px;
				}
				@include smp {
					width: 6px;
					height: 6px;
					top: 4px;
				}
			}
			a {
				color: $wp-color-base;
			}
		}
	}	
}

.caption {
	color: $wp-color-gray-1;
	line-height: 1.7;
	margin: 0 0 80px;
}

.tbl_style {
	width: 100%;
	color: $wp-color-black-1;
	th {
		background: $border-color-8;
		border-left: 1px solid $wp-color-base;
		padding: 25px 30px;
		text-align: center;
		font-size: 26px;
		font-weight: 600;
		&:nth-child(1) {
			text-align: left;
			border-left: none;
		}
	}
	td {
		background: $wp-color-base;
	}
}

.box_search {
	background: none;
	position: relative;
	padding-right: 60px;
	.inp_search {
		background: $third-color;
		border: 1px solid $text-color-5;
		border-right: none;
		width: 100%;
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
		padding: 22px 20px;
		border-right: none;
		@include pc {
			padding: 15px 15px;
		}
	}
	.inp_submit {
		border: none;
		background: $wp-color-contrast;
		color: $wp-color-base;
		cursor: pointer;
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 60px;
	}
	.icon_del {
		cursor: pointer;
		color: $text-color-4;
		position: absolute;
		top: 50%;
		right: 70px;
		transform: translateY(-50%);
		transition: $transition-all;
		display: none;
		&:hover {
			color: $wp-color-contrast;
		}
	}
}
.is_val {
	.icon_del {
		display: block !important;
	}
}

.page_pagination {
	display: flex;
	justify-content: center;
	margin-top: 80px;
	@include tab {
		margin-top: 40px;
	}
	&.align_left {
		justify-content: flex-start;
	}
	.paginate_list {
		display: flex;
		flex-wrap: wrap;
		.item {
			padding: 0 5px;
			margin: 0 0 10px;
			&.is_current {
				.link {
					background: $wp-color-contrast;
					color: $wp-color-base;
					pointer-events: none;
				}
			}
			.p_circle {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				line-height: 1;
				letter-spacing: 0;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				overflow: hidden;
				@include pc {
					width: 36px;
					height: 36px;
					font-size: 12px;
				}
			}
			.link {
				background: $third-color;
				color: $wp-color-black-1;
				&:hover {
					background: $wp-color-contrast;
					color: $wp-color-base;
				}
				&.arrow {
					font-size: 18px;
				}
			}
		}
		
	}
}

.search_list {
	margin: 0 0 50px;
	.item {
		border-bottom: 1px solid $border-color-2;
		display: flex;
		gap: 30px;
		padding: 0 0 30px;
		margin: 0 0 30px;
		@include hd {
			padding: 0 0 20px;
			margin: 0 0 20px;
		}
		@include smp {
			flex-wrap: wrap;
			gap: 15px;
		}
		.img {
			width: 186px;
			@include smp {
				width: 100%;
			}
		}
		.cont {
			flex: 1;
			@include smp {
				width: 100%;
				flex: unset;
			}
			.date {
				color: $text-color-4;
				font-size: 14px;
				text-transform: uppercase;
				margin: 0 0 15px;
				@include hd {
					font-size: 12px;
					margin: 0 0 5px;
				}
				.icon {
					display: inline-block;
					color: $wp-color-contrast;
					margin-right: 10px;
				}
			}
			.ttl {
				font-size: 25px;
				font-weight: 600;
				line-height: 1.2;
				margin: 0 0 15px;
				@include hd {
					font-size: 18px;
					margin: 0 0 10px;
				}
				@include smp {
					font-size: 16px;
				}
			}
			.txt {
				color: $text-color-4;
				line-height: 1.7;
				margin: 0 0 20px;
				@include hd {
					margin: 0 0 15px;
					font-size: 14px;
				}
				@include smp {
					font-size: 12px;
					margin: 0 0 5px;
				}
			}
			.view_more02 {
				color: $text-color-9;
				.arrow {
					color: $wp-color-contrast;
				}
			}
		}
	}
}